body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #111;
}

/* Container central */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    color: #fff;
}

/* Card maior */
.form-box {
    width: 500px;
    max-width: 90%;
    padding: 50px 40px;

    background: #1a1a1a;
    border-radius: 16px;

    box-shadow: 0 0 20px rgba(255, 204, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
.form-box h2 {
    margin-bottom: 30px;
    color: #ffcc00;
    font-size: 26px;
}

/* Saldo */
.saldo {
    font-size: 36px;
    font-weight: bold;
    color: #00ff99;
    margin-bottom: 25px;
}

/* Input */
.form-container input {
    width: 100%;
    padding: 14px;
    margin: 15px 0;

    border-radius: 10px;
    border: none;
    outline: none;

    background: #222;
    color: #fff;
    font-size: 16px;
}

/* Botão */
.form-container button {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 10px;

    background: #ffcc00;
    color: #000;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
}

.form-container button:hover {
    background: #e6b800;
}

/* Texto auxiliar */
.info {
    margin-top: 15px;
    font-size: 14px;
    color: #888;
}